login-pf {
    background: none;
}

.login-pf body {
    background: #000613 none;
}

#kc-header-wrapper {
   font-size: 0px;
   padding: 124px 10px 20px;
   background: url("../img/logo.svg") no-repeat center;
   background-size: contain;
}

.card-pf {
   background: transparent;
}

h1#kc-page-title {
    color: white;
    font-size: large;
}

h1#kc-page-title {
    color: white;
}

#kc-content {
     color: white;
     font-size: medium;
}
