login-pf {
    background: none;
}

.login-pf body {
    background: #000613 none;
}

#kc-header-wrapper {
   font-size: 0px;
   padding: 124px 10px 20px;
   background: url("../img/logo.svg") no-repeat center;
   background-size: contain;
}

.card-pf {
   background: transparent;
}

.pf-c-button.pf-m-control {
    color: white;
    background-color: var(--pf-c-button--m-primary--BackgroundColor);
}

.kc-social-gray {
    color: white;
}

#kc-social-providers h4 {
    font-size: medium;
}

.pf-c-button::after {
    border: transparent;
}

h1#kc-page-title {
    color: white;
    font-size: large;
}

#kc-content {
     color: white;
     font-size: medium;
     text-align: center;
}

#social-oidc {
  display: inline-block;
  width: auto;
  margin: 20px 20px 0px 0px;
  padding: 20px 30px 20px 80px;
  border: 2px solid #005faa;
  border-radius: 100vw;
  background-color: #005faa;
  background-image: url(../img/egi-logo-white.svg);
  background-position: 30px 43%;
  background-size: 36px;
  background-repeat: no-repeat;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  font-family: 'DM Sans', sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

#social-oidc:hover {
  background-color: #fff;
  background-image: url(../img/egi-logo-color.svg);
  color: #005faa;
}

#kc-form-wrapper {
    display: none;
}

#kc-form:hover #kc-form-wrapper {
   display: block;
}
